/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none; /* added for links */
	color: #000000; /* added for links */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	Java Jos CSS 
	Written by yours truly: Valerie 
	Starting with the main components:
*/

body {
	background-color: #fff;
	width: 100%;
	display: block;
	color: #2D2A32;
	font-family: 'Roboto', sans-serif;
	font-size: 12px; /* base font size for 1em */
}

hr {
	height: 2px;
	background-color: #2D2A32;
	margin: 0;
	border: none;
	font-size: 1em;
}

header {
	background-color: #fff;
	display: block;
	width: 100%;
	z-index: 99;
	position: fixed;
	max-width: 1800px;
}

.header-top-bar {
	width: 100%;
	background-color: #2D2A32;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-top-bar p {
	color: #fff;
	font-size: 1em;
}

.header-main-bar {
	height: 60px;
}

.logo {
	height: 38px;
	float: left;
	margin-left: 15px;
	margin-top: 11px;
}

.header-nav {
	display: flex;
	float: right;
	align-items: center;
}

.header-nav li a {
	display: flex;
	padding: 21px 30px 21px 30px;
	border-left: rgba(0,0,0,0) solid 2px;
	border-right: rgba(0,0,0,0) solid 2px;
}

.header-nav li a img {
	margin-right: 10px;
	width: 1.2em;
}

.header-nav li p {
	font-size: 1.5em;
}

main {
	padding-top: 90px;
}

.splash-img {
	background-image: linear-gradient(to bottom, rgb(245, 246, 252), rgba(255, 255, 255, 0.53)),url("../imgs/home-splash.jpg");
    background-size: cover;
    background-attachment: fixed;
	width: 100%;
	height: 100%;
}

.splash-img img {
	width: 45%;
	padding-bottom: 210px;
	margin-top: -45px;
}

.wrapper {
	max-width: 1800px;
	margin: auto;
	background: #413F46;
}

.brown-background {
	background-color: #2D2A32;
	overflow: visible;
}

.brown-background:after {
	content: "";
	clear: both;
	display: table;
  }

.upcoming-box {
	background-color: rgba(255, 255, 255, 0.36);
	width: 330px;
	float: right;
	margin-top: -30px;
	padding-bottom: 15px;
	margin-right: 13.5%;
	margin-bottom: 60px;
}

.upcoming-box h1 {
	background-color: #fff;
	margin: 15px 15px 0 15px;
	padding: 15px 15px 0 15px;
	font-size: 1.3em;
	font-weight: bold;
	color: #2D2A32;
}

.upcoming-box p {
	background-color: #fff;
	margin: 0 15px 0 15px;
	padding: 0 15px 0 15px;
	font-size: 1.3em;
	color: rgb(45, 42, 50);
}

.upcoming-box p small {
	padding-top: 15px;
	color: rgba(45, 42, 50, .5);
	margin-bottom: 15px;
	display: inline-block;
}

footer {
	background: white;
}

.footer-wrapper {
	padding: 90px;
	display: flex;
    justify-content: space-between;
}

.social-icon:nth-child(2){
	margin-left: 10px;
}

.footer-subscription-section form {
    background: #2D2A32;
	width: fit-content;
}

.footer-subscription-section form label {
	width: 250px;
	border: 2px solid #2D2A32;
	padding: 15px;
	display: inline-block;
	background: white;
}

.footer-subscription-section form label input {
	border: none;
}

.footer-subscription-section form label input::placeholder{
	color: #2D2A32;
}

.footer-subscription-section form label input:focus-visible {
	border: none;
	outline: none;
}

.footer-subscription-section form button {
	border: none;
    background: #2D2A32;
	color: white;
    display: inline-block;
	padding: 15px;
}

.footer-subscription-section p small{
	color: rgba(45, 42, 50, .5);
	margin-top: 15px;
	display: block;
}

.footer-nav {
	display: flex;
	height: 30px;
	flex-wrap: wrap;
	align-content: center;
	color: #2D2A32;
    justify-content: space-between;
}

.footer-nav li {
	margin-left: 20px;
	color: #2D2A32;
}

.footer-nav li a {
	color: #2D2A32;
}

.view-only-mobile {
	display: none;
}

.stopscroll {
	overflow: hidden !important;
}

#hamburger, .hamburger-menu{
	display: none;
}


/* active state */
.header-nav li a:hover,  .header-nav li a:active {
	padding: 21px 30px 21px 30px;
	border-left: black solid 2px;
	border-right: black solid 2px;
	background: #EAEAEB;
}

.footer-nav li:hover, .footer-nav li:active {
	font-weight: 800;
	margin-left: 19px;
}



/* this is where footer switches to mobile style */
@media only screen and (max-width: 1100px) {
    .footer-wrapper { 
		display: block;
	}

	.footer-social-section {
		float: right;
	}

	.footer-nav {
		display: block;
		line-height: 18px;
		margin-top: 30px;
	}

	.footer-nav li {
		margin-left: 0;
	}

	.splash-img img {
		width:550px;
	}
}

/* smaller screen 950 to 600 px */
/* this is where header nav switches to hamburger */
@media only screen and (max-width: 950px) {
    .view-only-mobile {
		display: block;
	}

	.header-nav li a {
		padding: 0;
		border: none;
	}

	.header-nav li a img {
		width: 24px;
	}

	.hamburger-menu {
		margin-right: 30px;
		float: right;
		display: block;
		margin-top: 19px;
	}

	/* nav is affected by js so no hyphens in names */
	.mobilenav {
		transition: .5s;
	}

	.mobilenavmenu {
		-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			transition: .5s;
	}

	.mobilenavlist{
		display: block !important;
		background: #2D2A32;
		position: fixed;
		width: 100%;
		height: 100%;
		margin-top:60px;
		margin-bottom: -60px;
	}

	.mobilenavlist li {
		border: solid #2D2A32 2px;
		border-right: none;
		border-bottom: none;
		display: flex;
    	justify-content: flex-end;
	}

	.mobilenavlist li a img {
		background: white;
		padding: 0 33px;
		margin: 0 !important;
	}

	.mobilenavlist li a {
		flex-direction: row-reverse;
		height: 90px;
		background: white;
	}

	.mobilenavlist li a p {
		background: #2D2A32;
		width: 100%;
		height: inherit;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 30px;
		color: white;
	}

	.splash-img img{
		width: 550px;
	}

	/* active state */
	.header-nav li a:hover,  .header-nav li a:active {
		padding: 0;
		border: none;
		background: #EAEAEB;
	}

	.header-nav li a img:hover,  .header-nav li a img:active {
		background: #EAEAEB;
	}

	.header-nav {
		display: none;
	}

}


/* smaller screen 600 px and below */
@media only screen and (max-width: 600px) {
	.splash-img img{
		width: 105%;
	}

	.upcoming-box {
		margin-right: 10%
	}

	.footer-subscription-section form label {
		width: 150px;
	}

}